// .animation__sky{
//     animation-iteration-count: infinite;
//     animation-name: cloud;
//     animation-duration: 1s;
//     animation-timing-function:linear;
//     position: relative;
//     animation-direction: alternate-reverse;
// }
// @keyframes cloud{
// 0%{
//     right: 0px;
// }
// 100%{
//     left: 20px;
// }
// }

.taxi{
    animation-iteration-count: infinite;
    animation-name: taxi;
    animation-duration: 1s;
    animation-timing-function: linear;
    position: relative;
}

@keyframes taxi{
    0%{
        right: 0px;
    }
    50%{
        right: 500px;
    }
    100%{
        left: 1000px;
    }
}