.category {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    padding-top: 90px;
  }
  
  .category__menu {
    padding-top: 30px;
  }
  
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.category__menu-item {
    list-style-type: none;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background: #D5D4E1;
    background-clip: content-box;

}

.category__menu-background {
  list-style-type: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background: #D5D4E1;
  background-clip: content-box;
}


.category__link {
    font-size: 26px;
    line-height: 32px;
    position: absolute;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    max-width: 170px;
    text-align: center;
    text-transform: uppercase;
}

.category__catalog:nth-child(4) {
  padding-bottom: 23px;
  padding-left: 210px;
  padding-top: 23px;
}

.menu__list_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.category__catalog {
  background: #D5D4E1;
  background-clip: content-box;
}


