.pagination{
    &___nav {
      display: flex;
      padding-top: 53px;
      align-items: center;
    }
    &__list {
      display: flex;
      text-decoration: none;
      list-style-type: none;
      padding-left: 457px;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 785px) {
      padding-left: 255px;
      }
      @media screen and (max-width: 375px) {
        padding-left: 42px;
      }
    }
    &__list-item {
      text-decoration: none;
      list-style-type: none;
      padding-right: 67px;
    }
    &__number {
      text-decoration: none;
      list-style-type: none;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #1E0606;
    }
    &__number:active{
      color: #C29974;
    }
    &__number:hover{
      color: #C29974;
    }
    // &__vector-left {
    //   border: none;
    //   background: none;
    //   width: 13px;
    //   height: 26px;
    //   background-image: url(../../img/icons/Vectorpagleft.svg);
    //   @media screen and (max-width: 750px) {
    //     // margin: 0;
    //     width: 10px;
    //     height: 23px;
    //   }
    // }
    // &__vector-right {
    //   border: none;
    //   background: none;
    //   width: 13px;
    //   height: 26px;
    //   background-image: url(../img/icons/Vectorpagright.svg);
    //   padding-left: 390px;
    //   background-repeat: no-repeat;
    //   @media screen and (max-width: 750px) {
    //     // margin: 0;
    //     width: 10px;
    //     height: 23px;
    //   }
    // }
    @media screen and (max-width: 750px) {
      // margin: 0;
    }
  }