@mixin font($font-size: 14px, $line-height: 19px, $font-weight: 700) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin img($widht:280px, $height:270px){
  width: $widht;
  height: $height;
}

