@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/

/*
  Import utils classes and base styles
*/
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/footer";

/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/
@import"_blocks/header";
@import"_blocks/category_list";
@import"_blocks/button";

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #EEE4DB;
}

.slider__menu {
 padding-top: 13px;  
}

.slider__menu_item {
  padding-left: 28px;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
  font-family: 'Montserrat';
  font-weight: 200;
}

.slider__switch {
  padding-left: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
}

.slider__switch_item {
  text-decoration: none;
  list-style-type: none;
  width: 31px;
  height: 3px;
  background: rgba(30, 6, 6, 0.6);
  border: none;
}

.slider__switch_item1 {
  text-decoration: none;
  list-style-type: none;
  width: 31px;
  height: 3px;
  background: #D6CAC2;
  border: none;
}


.slide__text {
  padding-left: 71px;
  padding-top: 89px;
}

.slide__text_name {
  font-size: 40px;
  line-height: 110%;
  color: #1E0606;
  word-wrap: break-word;
  width: 307px;
  padding-bottom: 20px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
}

.slide__text_paragraph {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #1E0606; 
  font-family: 'Crimson Text';
  font-style: italic;
}  


.image__monster {
  position: absolute;
  width: 635px;
  height: 461px;
  left: 555px;
  top: -80px;
}

.paragraph__item {
  background: #C29974;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  width: 1180px;
  height: 39px;
  padding-top: 11px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}




.wrap {
  padding-top: 33px;
  padding-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vector_left {
  background: rgba(112, 187, 220, 0.2);
  border: none;
  margin-right: 6px;
  width: 37px;
  height: 37px;
}

.vector_right {
  background: rgba(112, 187, 220, 0.2);
  border: none;
  width: 37px;
  height: 37px;
}

.wrap__paragraph {
  padding-left: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word;
  width: 580px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__block {
  padding-left: 120px;
}

.block__name {
  font-size: 38px;
  line-height: 46px;
  color: #1E0606;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 6px;
}
  
  
.block__list {
  padding-top: 6px;
}

.block__list_delivery {
  padding-bottom: 22px;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  background: rgba(112, 187, 220, 0.2);
  width: 326px;
  margin-left: -48px;
  padding-left: 48px;
  margin-top: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
}

.block__list_guarantee {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 22px;
  color: #1E0606;
}

.block__list_credit {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #1E0606;
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 30px;
}

.info__paragraph_one {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  padding-bottom: 15px;
}

.info__paragraph_two {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  padding-bottom: 26px;
}

.adv__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  list-style-type: none;
  padding-bottom: 90px;
  margin-left: 118px;
  /* box-sizing: border-box; */
}

.adv__list_item {
  padding-top: 70px;
  padding-right: 127px;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.block__buy {
  background: #E1F0F7;
  margin-right: 57px;
  width: 543px;
}

.block__name_item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
  padding-left: 30px;
  position: absolute;
  margin-top: -25px;
}

.block__name_paragraph {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #1E0606;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-top: 30px;
}

.block__name_outline {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  padding-left: 30px;
}

.block__name_outline1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  padding-left: 30px;
  padding-top: 40px;
}

.button_item {
  padding-top: 20px;
  padding-bottom: 90px;
  margin-bottom: 28px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px; 
  font-weight: 700; 
  background: #000000;
  color: white;
  padding: 9px 22px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  margin-left: 30px;
  cursor: pointer;
  border: none;
}

.button_item:active {
  background: #6a6969;
}

.block__contacts {
  background: #E1F0F7;
  position: relative;
  width: 543px;
  height: 209px;
}

.maps {
  position: absolute;
  width: 483px;
  height: 196px;
  padding-left: 30px;
  padding-top: 30px;
}

.popup {
  display: none;
}

.popup::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 1400px;
  height: 768px;
  background: rgba(125, 151, 218, 0.8)
}


.popup__body {
  position: fixed;
  width: 680px;
  height: 542px;
  background: #E5EAF8;
  top: 50px;
  left: 360px;
}

.open {
  display: block;
}

.popup__close {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: 685px;
  background: none;
  border: none;
  cursor: pointer;
  background-image: url(..//pic/icons/XMLID1429.svg);
}

