<footer class="container__footer">
  <section class="container">
      <h2 class="name__section">main footer</h2>
  <div class="footer__group">
      <div class="group__nav">
          <p class="group__nav_name">Navigation</p>
          <ul class="group__nav_list">
              <li class="group__nav_item">
                  <a class="nav__item_link" href="#">About Us</a>
              </li>
              <li class="group__nav_item">
                  <a class="nav__item_link" href="#">Blog</a>
              </li>
              <li class="group__nav_item">
                  <a class="nav__item_link" href="#">Design Services</a>
              </li>
              <li class="group__nav_item">
                  <a class="nav__item_link" href="#">Featured On</a>
              </li>
              <li class="group__nav_item">
                  <a class="nav__item_link" href="#">2018 Holiday Catalog</a>
              </li>
              <li class="group__nav_item">
                  <a class="nav__item_link" href="#">Shop By Designer</a>
              </li>
          </ul>
              <div class="rating">
                  <p class="rating__name">Company Rating</p> 
                  <fieldset class="star__rating">
                      <div class="rating__group">
                          <input class="star__rating_item" type="radio" name="rating" id="star-5" aria-label="отлично">
                          <input class="star__rating_item" type="radio" name="rating" id="star-4" aria-label="хорошо">
                          <input class="star__rating_item" type="radio" name="rating" id="star-3" aria-label="удовлетворительно">
                          <input class="star__rating_item" type="radio" name="rating" id="star-2" aria-label="плохо">
                          <input class="star__rating_item" type="radio" name="rating" id="star-1" aria-label="ужасно">
                      </div>
                  </fieldset>
              </div>
      </div>
      <div class="customer__group">
          <p class="customer">Customer Information</p>
          <ul class="group__info">
                  <li class="group__info_item">
                      <a class="group__info_link" href="#">Contact Us</a>
                  </li>
                  <li class="group__info_item">
                      <a class="group__info_link" href="#">Sale Exclusions</a>
                   </li>
                  <li class="group__info_item">
                      <a class="group__info_link" href="#">Shipping & Returns</a>
                  </li>
                  <li class="group__info_item">
                      <a class="group__info_link" href="#">Terms & Conditions</a>
                  </li>
                  <li class="group__info_item">
                      <a class="group__info_link" href="#">Privacy Policy</a>
                  </li>
                  <li class="group__info_item">
                      <a class="group__info_link" href="#">Search</a>
                  </li>
          </ul>
                  <p class="paragraph_copyright">Copyright © 2018 Dlk • Design Life Kids</p> 
      </div>
      <div class="connect__group">
          <p class="paragraph__connect">Connect</p>
              <div class="form">
                  <form class="form" action="#">
                      <input class="input_area" type="email" name="email" id="#" value="Email">
                      <button class="button_join" type="submit">Join</button>
                  </form>
              </div>
                  <ul class="group__connect">
                      <li class="group__connect_item">
                          <img class="social_network" src="../../img/icons/Facebook.svg" alt="facebook">
                      </li>
                      <li class="group__connect_item">
                          <img class="social_network" src="../../img/icons/Twitter.svg" alt="twitter">
                      </li>
                      <li class="group__connect_item">
                          <img class="social_network" src="../../img/icons/Pinterest(1).svg" alt="pinterest">
                      </li>
                      <li class="group__connect_item">
                          <img class="social_network" src="../../img/icons/Instagram(1).svg" alt="instagram">
                      </li>
                  </ul>
          <p class="paragraph_dl">Web Design — Direct Line Development</p>
      </div>
  </div>
  </section>
</footer>
