<header class="container">
    <div class="header">
        <div class="header__wraper">
            <a class="link" href="../../index.html">
                <img src="../../img/icons/DLK.svg" alt="DLK" class="logo">
            </a>
             <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__list_item">
                        <a class="nav__list_link" href="./pages/blog.html">Blog</a>
                    </li>
                    <li class="nav__list_item">
                        <a class="nav__list_link" href="../../catalog.html">Catalog</a>
                    </li>
                    <li class="nav__list_item">
                        <a class="nav__list_link" href="#">About Us</a>
                    </li>
                </ul>
                <a href="#" class="button_search"> 
                    <img src="../../img/icons/lupa.svg" alt="lupa"> 
                  </a>
                  <a class="contact__us" href="../../contact.html">Contact  Us</a>
             </nav>
       </div>            
    </div>
</header>