<header class="container">
    <div class="header">
        <div class="header__wraper">
            <a class="link" href="../../index.html">
                <img src="../../img/icons/DLK.svg" alt="DLK" class="logo">
            </a>
             <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="../../blog.html">Blog</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="../../catalog.html">Catalog</a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="#">About Us</a>
                    </li>
                </ul>
                <img class="button_search" src="../../img/icons/lupa.svg" alt="lupa">
                <a class="contact__us" href="../../contact.html">Contact  Us</a>
             </nav>
       </div>            
    </div>
</header>