<div class="pagination">
    <nav class="pagination__nav" aria-label="pages">
        <button class="pagination__vector-left"></button>
        <ul class="pagination__list">
            <li class="pagination__list-item">
                <a class="pagination__number-one" href="#">1</a>
            </li>
            <li class="pagination__list-item">
                <a class="pagination__number" href="#">2</a>
            </li>
            <li class="pagination__list-item">
                <a class="pagination__number" href="#">3</a>
            </li>
            <li class="pagination__list-item">
                <a class="pagination__number" href="#">4</a>
            </li>
        </ul>
        <button class="pagination__vector-right"></button>
    </nav>
</div>   