<div class="popup">
    <div class="popup__body">
        <button class="popup__close close-js"></button>
        <form class="form__area" action="#">
            <div class="name__area">
                <label class="name__item" for="input-name">Name</label>
                <input class="name__input" type="text" name="input-name" id="input-name" value="Ivan Ivanov">
            </div>
            <div class="contact__details">
                <div class="phone__area">
                    <label class="name__item_contact" for="input-phone">Phone</label>
                    <input class="phone__input" type="text" name="input-phone" id="input-phone">
                </div>
                <div class="email__area">
                    <label class="name__item_contact" for="input-email">Email</label>
                    <input class="email__input" type="text" name="input-email" id="input-email">
                </div>
            </div>
            <div class="message__area">
                <label class="name__item" for="textarea">Message</label>
                <textarea class="message__block" name="textarea" id="textarea" cols="30" rows="10"></textarea>
            </div>
            <div class="deal">
                <input class="check__deal" type="checkbox" name="checkbox" id="checkbox">
                <span class="custom__checkbox_deal"></span>
                <label class="deal__info" for="checkbox">By clicking on the button, you consent to the processing of your personal data</label>
                <button class="button" type="submit">Submit</button>
            </div>
        </form>
    </div>  